    <html>
      <head>
        <title>Device Information</title>
      </head>
      <body >
        <a href="/cpu">CPU Stats</a><br/>
        <a href="/mem">Memory Stats</a><br/>
        <a href="/loadavg">Load Averages</a><br/>
        <a href="/mounts">Mountpoints</a><br/>
        <a href="/uptime">Uptime</a><br/>
        <a href="/blocks/mmcblk0">Disk 1</a><br/>
        <a href="/blocks/mmcblk1">Disk 2</a><br/>
        <a href="/devices">USB Devices</a><br/>
        <a href="/machineID">Machine ID</a><br/>
        <a href="/bootID">Boot ID</a><br/>
        <a href="/hostname">Hostname</a><br/>
        <a href="/version">OS Version</a><br/>
        <a href="/kernelversion">Kernel Version</a><br/>
        <a href="/hardwarempdel">Hardware Model</a><br/>
         <a href="/boottime">Boot time</a><br/>
        <a href="/availablememory">Available Memory</a><br/>
      </body>
    </html>
